<h1>Register Student</h1>

<form method="POST" action="/register">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <button type="submit">Submit</button>
</form>
